.about-container {
  padding: 50px;
}

.about-title {
  font-size: 2rem;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  text-align: center;
}

.about-info {
  font-size: 1.2rem;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.info-highlights {
  color: var(--secondary-accent-color);
  font-weight: bolder;
}

.skills-container {
  margin-top: 20px;
}

.skills-title {
  font-size: 2rem;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  text-align: center;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.skill-label {
  margin-top: 8px;
}

.skill:hover {
  color: var(--secondary-accent-color);
}
