.about-container {
  padding: 50px;
}

.about-title {
  font-size: 2rem;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  text-align: center;
}

.about-info {
  font-size: 1.2rem;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.info-highlights {
  color: var(--secondary-accent-color);
  font-weight: bolder;
}
